$main-color: rgb(11, 85, 85);
$selected-color: rgb(68, 143, 143);
$text-color: rgba(245, 245, 245, 0.502);
$reset-btn-color: rgba(255, 255, 255, 0.099);

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@mixin inputs-style {
  max-width: 16rem;
  height: 2.3rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(227, 227, 227, 0.646);
}

.bill-input__user-data {
  @include inputs-style;
}

.number-of-people__input {
  @include inputs-style;
  margin-bottom: 1.5rem;
}

.select-tip {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  font-size: 1rem;
  font-family: inherit;
  color: rgb(109, 109, 109);
}

.select-tip__input {
  width: 8.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: $main-color;
  border-style: none;
  color: white;
  transition: all 0.1s;
  &:active {
    background-color: $selected-color;
    transform: translateY(2px);
  }
}

.selected-style {
  background-color: rgb(95, 95, 95);
}

.tip-result {
  width: 16rem;
  height: 13rem;
  background-color: $main-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  span {
    color: $text-color;
  }

  p {
    color: whitesmoke;
  }

  .tip-result__total {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
  }
}

.tip-result__btn {
  width: 12rem;
  height: 2.5rem;
  background-color: $selected-color;
  border-style: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: whitesmoke;
  transition: all 0.2s;

  &:active {
    background-color: $reset-btn-color;
    transform: translateY(3px);
  }
}

.total-amount {
  font-size: 2rem;
  font-weight: 700;
}
